.authform
  = simple_form_for [note] do |f|
    .form-group
      .title-area
        = f.label :title
        %br
        = f.text_area :title, input_html: { class: 'form-control' }
    .form-group
      = f.label :description
      %br
      = f.text_area :description, input_html: { class: 'form-control' }
    .form-group
      Categories
      %input.js-example-tags{ name: "category_ids"}
    .form-group
      = f.button :submit, class: "btn btn-primary"
