= simple_form_for [note] do |f|
  .form-group
    = f.label :title
    = f.text_area :title, input_html: { class: 'form-control' }
  .form-group
    = f.label :description
    = f.text_area :description, input_html: { class: 'form-control' }
  .form-group
    = f.collection_select(:category_id, categories, :id, :name)
    -# %select{ category_id: "category_id" }
    -#   - categories.each do |c|
    -#     %option{ value: c.id }= c.name
  .form-group
    = f.button :submit, class: "btn btn-primary"
